@font-face {
    font-family: 'HVD Comic Serif Pro';
    src: url('HVDComicSerifPro.woff2') format('woff2'),
        url('HVDComicSerifPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../src/assets/fonts/Inter/Inter18pt-Regular.woff2') format('woff2'),
        url('../src/assets/fonts/Inter/Inter18pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 100dvh;
    width: 100%;
    background-color: #c6f2ff;
    display: flex;
    gap: 40px;
    justify-content: center;
}

article {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 75px;
    background-image: url("../src/assets/Ice-tile.png");
    background-size: 100% 100%;
    min-width: 350px;
    min-height: 225px;
    width: fit-content;
    height: fit-content;
    border-radius: 30px;
}

/* ------- HEADER ------- */

#header {
    height: 100dvh;
    background-image: url("../src/assets/SnowMountain.svg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.inner-content * {
    width: fit-content;
    z-index: 5;
}

.inner-content img {
    width: 45vw;
}

.inner-content .plane {
    width: 150px;
    position: absolute;
    top: 200px;
    right: 20px;
    animation: fly 10s linear infinite;
}

@keyframes fly {
    0% {
        transform: translateX(0) translateY(0) rotate(0deg);
    }
    100% {
        transform: translateX(-1740px) translateY(200px) rotate(0deg) scale(0.4);
    }
}

.inner-content button {
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background-color: #52a4fc;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.inner-content button:hover {
    background-color: #1e90ff;
}

/* -------- CARDS SECTION -------- */

#cards-section {
    padding: 100px;
    /* background-image: url("../src/assets/snow-wall.png"); */
    background-repeat: repeat;
    background-size: contain;
}

/* --- Counter Trips --- */

.counter-graph {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter-graph h1 {
    color: black;
    font-size: 4rem;
    color: #64b2c2;
    font-family: "HVD Comic Serif Pro";
}

.counter-graph p {
    font-family: 'Inter';
    font-weight: bold;
    font-size: 18px;
    color: #5ba0ae;
}

/* --- Counter Rating --- */

.image {
    display: flex;
    align-items: center;
    gap: 20px;
}

.image img {
    width: 35px;
}


/* --- Top Country --- */
.topActivity h1, .topCountry h1 {
    font-size: 2.5rem;
    text-align: center;
}


/* --- Top Activity --- */